/* Write your CSS here */
.card {
  margin: 1%;
  background-color: #f8f8ff;
  padding: 20px;
  width: 30%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    padding: 0;
  }
}

.image {
  height: 300px;
}

.head {
  color: #e73959;
  font-size: 120%;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.para {
  margin-left: 10px;
  font-size: 20px;
}

.icons {
  height: 20px;
}
